<header>
  <div class='header-content'>
    <LinkTo @route='index' class='application-header'><h1
        id='title'
      >@spuxx/ember-core</h1></LinkTo>

    <p class='header-environment'>({{this.environment}})</p>
  </div>
</header>

<main>
  {{outlet}}
</main>